---
title: Projects
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
	  <li data-filter="all" class="filter active">All</li>
	  <li data-filter="category_1" class="filter">UI Design</li>
	  <li data-filter="category_2" class="filter">Web Development</li>
	  <li data-filter="category_3" class="filter">Photography</li>
	  <li data-filter="category_3 category_1" class="filter">Wordpress and Logo</li>
	</ul>
	<div class="row mix-grid thumbnails">
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#projectz" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>              
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>      
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>                  
	    </div>                      
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_2 category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img5.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>     
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                   
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img6.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project4" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>     
	    </div>                                   
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_2 category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project5" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>    
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                    
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project6" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>   
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                     
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project7" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>    
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                    
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project8" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div> 
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
