<% if (post.categories && post.categories.length){ %>
  <div class="article-category">
    <% if (post.categories.length == 1){ %>
    Category: 
    <% } %>
    Categories:
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: ', '
    }) %>
  </div>
  <br>
<% } %>
