<% if (theme.disqus_shortname){ %>
<% if(page.comments && is_post()){ %>
<script>
  <% if (page.permalink){ %>
    var disqus_config = function () {
      this.page.url = '<%= page.permalink %>';
    };
  <% } %>
  (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//<%= theme.disqus_shortname %>.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<% } %>
<script id="dsq-count-scr" src="//<%= theme.disqus_shortname %>.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<% } %>
