  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6 padding-top-10" style="padding-top: 10px !important;">
                &copy; <%= 2015 - date(new Date(), 'YYYY') %> <%= config.title %><br>
        </div>
        <!-- END COPYRIGHT -->
  <%- partial('_partial/social') %>
      </div>
    </div>
  </div>
  <!-- END FOOTER -->
