<!-- BEGIN SOCIAL -->
<div class="col-md-6 col-sm-6">
  <ul class="social-footer list-unstyled list-inline pull-right">
    <% for(var s in theme.social) { %>
      <li><a href="<%- url_for(theme.social[s]) %>"><i class="fa fa-<%= s %>"></i></a></li>
    <% } %>
  </ul>  
</div>
<!-- END SOCIAL -->
