<% if (site.categories.length){ %>
<div class="widget-wrap">
  <div class="widget">
    <ul class="nav sidebar-categories margin-bottom-40">
      <% site.categories.forEach(function(cat){ %>
	<li>
	  <a href="<%= url_for(cat.path) %>"><%= cat.name %> (<%= cat.length  %>)</a>
	</li>
      <% }); %>
    </ul>
  </div>
</div>
<% } %>
