<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li class="active">文章</li>
  </ul>
<div id="main">
  <h1>文章</h1>
  <%- partial('_partial/archive', {pagination: config.archive, index: false}) %>
</div>
</div>
