<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li><a href="<%= '/archives/' %>">文章</a></li>
    <li class="active">正文</li>
  </ul>
  <section id="main">
    <%- partial('_partial/post/title', {class_name: 'article-title', post: page,
    index: false}) %>
    <%- partial('_partial/article', {post: page, index: false}) %>
  </section>
</div>
