<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li><a href="/archives">文章</a></li>
    <li class="active">Tagged: <%- page.tag %></li>
  </ul>
<section id="main">
  <h1>Tagged: <%- page.tag %></h1>
  <%- partial('_partial/archive', {pagination: config.tag, index: true}) %>
</section>
</div>

